
.examples {
  display: flex;
  flex-wrap: wrap;
}

.example {
  width: 250px;
  height:250px;
  margin: 15px;
  padding: 15px;
  border-radius: 15px;
  background: lightgray;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.example h3 {
  margin: 0;
  text-align: center;
}

.example img {
  display: block;
  max-width: 90%;
  max-height: 50%;
  margin: auto;
  padding: 10px;
}

.example span {
  display: block;
  text-align: center;
  font-style: italic;
}

.firsts {
  background: lightsteelblue;
}

.nfts {
  background: lightblue;
}

body {
  font-family: sans-serif;
}
